html, body{ 
    margin:0;
    padding:0;
} 
h1, p{ margin:100;
       font-family: 'Tilt Warp', cursive;
       font-weight: lighter;
       
}


 #main{
   background: url("background.png") no-repeat;
   background-size: cover;
   background-position: center center;
   width:100vw;
   height:100vh;
   

   

}
#contents{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    color:white;
    text-align: 100px;
    font-family: 'Tilt Warp', cursive;
#contents h1{
    font-size: 300px;
    }
    
#contents p{    
    font-size: 150px;
    }
    
    
    

}
    

    
