html, body{ 
    margin:0;
    padding:0;
} 
h1, p{ margin:0;
       font-size:70px;

}


 #main{
   background: url("hephaestus logo 3d 2.jpg") no-repeat;
   background-size: cover;
   background-position: center center;
   width:100vw;
   height:100vh;
   

   

}
#contents{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    color:black;
    text-align: center;
    font-family: 'Tilt Warp', cursive;


}
    

    
