html, body{ 
    margin:0;
    padding:0;
} 
h1, p{ margin:0;}

a{
    color: inherit;
    text-decoration: none;
 #main{
   background: url("hephaestus logo 3d 2.jpg") no-repeat;
   background-size: cover;
   background-position: conter center;
   width:100vw;
   height:100vh;
   font-family: 'Tilt Warp', cursive;

}
#contents{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    color:white;
    text-alingn: center;
    }
    
#contents h1{
    font-family: 'Tilt Warp', cursive;
    font-size: 70px;
    margin-bottom: 16px;
    
    }
@media(max-width:769px){
    #contents h1{
        font-size:50px;
    }
    }
    
    
    
